<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic-Baqend-Starter</h2>
    <p>
      This is Baqends Ionic starter, which is based on the Ionic tabs starter.
    </p>
    <p>
      To connect your ionic app to your Baqend instance change the variable <code>appName</code> in the <code>service.js</code> to the name of your Baqend instance. If you will use your app on iOS please
      replace <code>app-starter</code> with your Baqend instance name at the bottom ot the <code>config.xml</code>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
      If you need help with Baqend feel free to join our <a href="https://community.baqend.com/">forum</a> or contact us via our <a href="http://www.baqend.com/">website</a>.
    </p>
    <p>
      If you need help with Ionic, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
  </ion-content>
</ion-view>
